{% extends "base.html" %}


{% block content %}
<br>
<div class="col-sm-6 col-sm-offset-3">
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if 'create' in request.build_absolute_uri %}
            <input type="submit" class="btn btn-primary" value="Create Post">
        {% else %}
            <input type="submit" class="btn btn-primary" value="Update Post">
        {% endif %}
        <a href='{% url "posts:list" %}' class="btn btn-primary" role="button">cancel</a>
    </form>
</div>

{% endblock %}

